.upload{
    height:100vh;
    background-image: url("../../assets/background.jpg");
    background-size: cover;
}
.uploadView{
    width:50%;
    position: absolute;
    top:calc( ( 100% - 48px ) /2 );
    left: 25%;
}
.subTitle{
    display: flex;
    color:white;
    padding-top: 3.5rem;
}
.confirmPrintView{
    margin-top: 50px;
}
.costumDialog{
    height:38px !important;
    min-height: auto;
    padding-top: 0px;
    padding-bottom: 0px;
}
.filenameShow{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70%;
    font-size: 0.8rem;
}
.filenameTitle{
    width:30%;
    font-size: 0.8rem;
}